.header
    &__top
      background: $main-color
    &__menu
      background: linear-gradient($main-color-lighter, $main-color)

.contacts__top
  background-color: #fff
  color: $main-color
.contacts__sk
.page__navbar