.page
  .page__navbar
    -
      var navbar=[
        'Мир Minecraft',
        'Industrial craft',
        'OptiFine',
        'Forge',
        'TooManyItems',
        'RailCraft',
      ]
    .wrapper
